.login-title{
    padding-top: 1em;
    text-align: center;
    margin-bottom: -1em;
}

.bg-dark{
    background-color: #1B1725 !important;
}

.btn-warning,
.btn-primary{
    background-color: #B3B3F1 !important;
    border-color: #B3B3F1 !important;
}

.link{
    color: #6A66A3
    !important;
}