/*HOME PAGE STYLING*/
.carousel {

    align-content: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;

}

.carousel-inner .carousel-item img {
    height: 500px;
    width: 750px;
}

#homeCards {
    margin-top: 40px;
    width: 310px;
    height: 345px;
    margin-left: 30px;
    border-radius: 5%;

}

.login-title {
    padding-top: 1em;
    text-align: center;
    margin-bottom: -1em;
}

.bg-dark {
    background-color: #1B1725 !important;
}

.btn-warning,
.btn-primary {
    background-color: #B3B3F1 !important;
    border-color: #B3B3F1 !important;
}

.link{
    color: #6A66A3
    !important;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;

}
html{
    height:100%;
}
body{
    /* eprepe na to valw relative gia to footer - an vroume allon tropo to allazoume
     dokimasa na to valw sto #footerId kai #footerContainer kai den doulepse*/
    position:relative;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
    padding:0;
}

/*.form-control{*/
/*    width:30%;*/
/*    margin:0 auto;*/
/*}*/
.formLabel{
    display:block;
    text-align:center;
}
/*--------- FOOTER------------- */

/*.footer {*/
/*    position: fixed;*/
/*    color: white;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 20%; !* Set the fixed height of the footer here *!*/
/*    line-height: 60px; !* Vertically center the text there *!*/
/*    background-color: #1B1725;*/
/*    display:inline-block;*/
/*    font-size:1em;*/
/*    margin-top:auto;*/
/*}*/

/*.footer-container{*/
/*    !*border: 5px solid black;*!*/
/*    position: relative;*/
/*    display:flex;*/
/*    justify-content: space-around;*/
/*    !*align-content: center;*!*/
/*    height: 100%;*/
/*    align-items: stretch;*/

/*}*/

/*.footer-left{*/
/*    !*align-self: center;*!*/
/*    justify-content: left;*/
/*    display:inline;*/
/*}*/
/*.footerNavigation{*/
/*    padding:0;*/
/*    margin:0;*/
/*    list-style: none;*/
/*    height: 50px;*/

/*}*/
/*.footer-left h5{*/
/*    text-align: center;*/
/*    padding-top: 0.5em;*/

/*}*/

/*.footerLink{*/
/*    display: inline-block;*/
/*    align-self: center;*/
/*    justify-self: center;*/
/*    !*padding-right:3em;*!*/
/*    !*padding-bottom: 0;*!*/
/*    !*margin:0;*!*/

/*    height: 100%;*/
/*}*/


/*.footer-right{*/
/*    align-self: center;*/
/*    justify-content: right;*/
/*}*/
/*.footer-right h3{*/
/*    padding-top:0.5em;*/
/*}*/
/*.container{*/

/*}*/

#footerID{
    position:absolute;
    padding:0;
    margin:0;
    height:150px !important;
    background-color: #1B1725;
    color: white;
    padding: 0 35px;
    padding-top: 5px;
    padding-bottom: 0px;
    transition: 400ms;


}

.cookie-container.active{
    bottom:0;

}

.cookie-container a {
    color: white;
    text-decoration: none;
}

.cookie-btn {
    font-size: 14px;
    color: white;
    background-color: #736fb0;
    cursor: pointer;
    border-top: 2px;
    margin-left: 15px;
    border: 0;
    border-radius: 9px;

}


/*TERMS PAGE*/
#termsBody {

    /* background-color: #6d69a5; */
    border-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#termsHeader {
    color: #2a243a;
    /* text-align: center; */
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;

}


h3#Intro,
h3#Cookies,
h3#License,
h3#Hyperlink,
h3#iFrames,
h3#ContentLiability,
h3#Privacy,
h3#Disclaimer {
    /* color: white; */
    /* text-align: center; */
    margin-left: 10px;
    margin-right: 10px;
}

#termsBody p {
    /* color: white; */
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

#termsNavbar .container-fluid .navbar-nav>li>a {
    color: white;
    margin-right: 15px;
}

#termsNavbar .container-fluid .navbar-nav>li>a:hover {
    color: #B3B3F1;

}
