body{
    margin: 0;
    padding: 0;
}

/*HOME PAGE STYLING*/
.carousel {
    width: 51em;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.carousel-inner .carousel-item img {
    height: 30em;
    width: 51em;
    margin: auto;
}

#homeCards {
    margin-top: 2em;
    width: 18em;
    height: 21em;
    margin-left: 4em;
    border-radius: 5%;


}

.homeCards {

    margin-bottom: 10em;
    display: flex;
    justify-content: center;
    /* padding-bottom: 5em; */


}

.login-title {
    padding-top: 1em;
    text-align: center;
    margin-bottom: -1em;
}


.bg-dark {
    background-color: #1B1725 !important;
}

.btn-warning,
.btn-primary {
    background-color: #B3B3F1 !important;
    border-color: #B3B3F1 !important;
}

.link {
    color: #6A66A3 !important;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: #1B1725;
    color: white;
    
    padding-top: 0.3em;
   
    transition: 400ms;


}

.cookie-container.active {
    bottom: 0;

}

.cookie-container a {
    color: white;
    text-decoration: none;
}

.cookie-btn {
    font-size: 0.9em;
    color: white;
    background-color: #736fb0;
    cursor: pointer;
    border-top: 0.3em;
    margin-left: 0.5em;
    border: 0;
    border-radius: 0.3em;

}

html {
    height: 100%;
}

.form-control {
    margin: 0 auto;
}

.formLabel {
    display: block;
    text-align: center;
}

.datepicker {
    width: 30%;
}

.formBox{
    display: block;
    height:65vh;
}

#formBox{
    display: block;
    height:68.9vh;
}

.nav-tabs{
    margin-left: 5em;
}

footer {
    width: 100%;
    padding: 0;
    height: 160px !important;
}

.footerContainer {
    margin-bottom: 0;
}

.footer {
    width: 100%;
    position: relative;
    background-color: #1B1725;
    display: inline-block;
}


.footerRight {
    color: white;
    bottom: 0;
    position: absolute;
    left: 43%;
}

.footerNavigation{
    display: inline;
    margin-bottom: 0;
    padding: 0;
}

footerLinks{
    display:inline;
    margin-left: 1em;
}

.footerLeft a {
    margin-left: 1em;
    position: relative;
    bottom: 0;
    padding-bottom: 0;
    display: inline-block;
}
.footerLeft a:hover{
    color: pink !important;
}



/*TERMS PAGE*/
#termsBody {

    /* background-color: #6d69a5; */
    border-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#termsHeader {
    color: #2a243a;
    /* text-align: center; */
    background-color: white;
    padding-top: 0.3em;
    text-align: center;
    padding-bottom: 0.3em;
  
}


h3#Intro,
h3#Cookies,
h3#License,
h3#Hyperlink,
h3#iFrames,
h3#ContentLiability,
h3#Privacy,
h3#Disclaimer {
    /* color: white; */
    /* text-align: center; */
    margin-left: 0.4em;
    margin-right:0.4em;
}

#termsBody p {
    /* color: white; */
    text-align: justify;
    margin-left:  0.4em;
    margin-right:  0.4em;
}
#termsNavbar .container-fluid .navbar-nav{
    margin:0 auto;
}

#termsNavbar .container-fluid .navbar-nav>li>a {
    color: white;
    margin-right: 0.6em;
   
    
}

#termsNavbar .container-fluid .navbar-nav>li>a:hover {
    color: #B3B3F1;

}

/*!**************************!*/


/*----------Listing INDEX ----------*/
.listingImage {
    width: 40%;
    padding-top: 1em;
}
 
/* #browseCardContainer {
    padding-bottom: 2.5rem;
    padding: 0;
    margin: 0;
    overflow: hidden;
} */

#carListingsRow{
    margin-right: auto;
    margin-left: auto;
}

#listingTitle {
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}

#firstColumnListing {
    text-align: right;
}

.listingInfo {
    margin-top: 2em;
}

.last {
    margin-bottom: 10em;
}

/* .date {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
} */

.pagin {
    margin-bottom: 10em;
}
/*-------------------*/
#map {
    width: 30%;
    height: 30%;
    border: 3px solid black;
    align-self: center;
}

.aboutUs {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

#aboutUsRow {
    padding-top: 1em;
    align-self: center;
}

#emailList {
    list-style: none;
}


.tab-content {
    margin-bottom: 10em;
}

#profileTabs{
    align-self: center;
}

#browseCards {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15%;
    display: inline-block;
    width: 17rem;
    height: 24rem;
}
/* ------------------------*/

/* #browseCards img {

    height: 12rem;
} */



.form-container {
    margin-top: 3rem;
    display: block;
    text-align: center;
}

.form {
    display: inline-block;
    font-size: 2rem;
}

#searchbar {

    width: 7em;
    height: 1em;

}

.form-btn {
    background-color: #1B1725;
    color: white;
    border: none;
    border-radius: 5px;
    height: 1.5em;
    width: 5em;
    font-size: 0.6em;

}

.form-btn:hover {
    background-color: #B3B3F1;
}

/* ------------------------*/

/* Vehicle form styling */

.vehform-container {

    padding: 20px 20px;
    display: flex;
    margin-bottom: 10rem;
    justify-content: center;
    font-size: 18px;
    


}

.veh-container .head {
    height: 50px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #1B1725;
    text-align: center;
    margin-bottom: 0;
}

.veh-img {
    width: 25em;
    height: 16em;

}

.promote-listing {
    margin: 0 auto;
    display: flex;
    justify-content: center;


}

.input-box {
    margin-bottom: 5px;
}

.vehsubmit {
    margin-top: 10px;
    background-color: #1B1725;

    width: 80px;
    border-radius: 7px;

    height: 35px;
    color: white;
}

.vehsubmit:hover {

    background-color: #9b59b6;
}

/* ------------------------*/

/* Listing form styling */

#list-container {

    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

#list-container h3 {
    text-align: center;
    font-weight: bold;

}

.listform {
    background-color: white;
    width: 500px;
    margin: 10px auto;
    padding-left: 20px;
    border-radius: 8px;
}

.listform .input-box label {
    width: 200px;
}

#sitback {
    width: 300px;
    height: 400px;
    margin-bottom: 10em;
}

.content-wwrapper {
    margin: 0 auto;

}
#darkModeToggle{
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
}
